
* {
    box-sizing: border-box;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
 /* Navbar */
 .shadow {
  text-decoration: none;
  color:#EF8037; 
  font-size:30px;
 }
/* ul */
 .navbar-brand {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  background-color: #313941;
  width: 100%;
}
/* li */
 .navbar-nav { 
  float:right;

 }
 /* li a */
 .navbar-nav .nav-link{
  display: inline-block;
  color: #313941 !important;
  text-align: center;
  padding: 14px 16px;
}

/* li a:hover */
.navbar-nav .nav-link:hover {
  background-color:#EF8037;

}
 
  /* FORM START */
  input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
  }
  div {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
  }
  /* FORM END */
  .form-group:nth-child(1) {
    display: inline-block;
    width:50%;
    padding: 8px 10px;
  }
  .form-group:nth-child(2) {
    display: inline-block;
    width:50%;
    padding: 8px 10px;
  }
  .form-control {
    border: 2px solid #EF8037; 
    font-size: 18px;
    }

  /* searchbar */
  .searchBar {
    border: 2px solid #EF8037; 
    font-size: 18px;
    }
  #block1, #block2 {
    display: inline-block;
  };

/* Layout Start */
.sidenav {
  width: 10%;
  background-color: white;
  float:left;
  padding: 15px;
  margin-right: 200px;
  padding-right: 20px;
 display: inline-block;

}

/* Style the content */
.content  {
  margin-left: 200px;
  padding-left: 20px;
  display: inline;
}
/* Layout finish */


/* button New Trip */
.btn-primary {
  background-color: #EF8037; 
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 20px;

}

.btn-danger {
  background-color: #EF8037; 
  border: 1px solid white;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
}

