
* {
    box-sizing: border-box;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
 /* Navbar */
 .shadow {
  text-decoration: none;
  color:#EF8037; 
  font-size:30px;
 }
/* ul */
 .navbar-brand {
  list-style-type: none;
  margin: 0px;
  padding: 20px;
  background-color: #313941;
  width: 100%;
}
/* li */
 .navbar-nav { 
  float:right;
 }
 a.nav-item {
  font-size:30px;
 }
 /* li a */
 .navbar-nav .nav-link{
  display: inline-block;
  text-decoration: none;
  color: #313941 !important;
  text-align: center;
  padding: 14px 16px;
}

/* li a:hover */
.navbar-nav .nav-link:hover {
  background-color:#EF8037;


}
 
  /* FORM START */
  input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;
  }
  div {
    border-radius: 10px;
    background-color: white;
    padding: 20px;
  }
  /* FORM END */
  .form-group:nth-child(1) {
    display: inline-block;
    width:50%;
    padding: 8px 10px;
  }
  .form-group:nth-child(2) {
    display: inline-block;
    width:50%;
    padding: 8px 10px;
  }
  .form-control {
    border: 2px solid #EF8037; 
    font-size: 18px;
    }

  /* searchbar */
  .searchBar {
    border: 2px solid #EF8037; 
    font-size: 18px;
    }
  #block1, #block2 {
    display: inline-block;
  };

.tripImage {
  background-image:url(../public/package-delivery.png)
}

/* Layout Start */

.something {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.sidenav {
  width: 100%;
  background-color: white;
}



/* button New Trip */
.btn-primary {
  display: block;
  width: 100%;
  background-color: #EF8037; 
  text-decoration: none;
  border: 1px solid white;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1em;

}

.btn-danger {
  background-color: #EF8037; 
  border: 1px solid white;
  color: white;
  padding: 12px 30px;
  border-radius: 10px;
  font-size: 20px;
  width: 100%;
}

