body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
  text-align: right;
 }
